<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/d3-intro.css' />
    <script src='/javascripts/d3.min.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>

    <script src='/javascripts/d3-scatterplot.js'></script>
    
  </body>
</html>
